<?xml version="1.0"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->


<configuration>
  
  <connectionStrings>
    <add name="DBConnection" connectionString="Server=isilo.db.elephantsql.com;Database=uvuujwyb;User Id=uvuujwyb;Password=QzFyaIL_XQwNItThtkUlRSPc_GkDQ20M;Port=5432" providerName="Npgsql"/>

    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-ITGroup.AutoRecepcion.Web-20180120094152.mdf;Initial Catalog=aspnet-ITGroup.AutoRecepcion.Web-20180120094152;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="LogoTicket" value="\Multimedia\"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="DBConnection" value="postgres://uvuujwyb:QzFyaIL_XQwNItThtkUlRSPc_GkDQ20M@isilo.db.elephantsql.com:5432/uvuujwyb"/>
  </appSettings>

</configuration>