
<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - It-Group</title>
    <script>
    </script>

</head>
<body >

    @* Cuerpo *@
    <div id="base">
        <div>
            @*Inicio del contenido*@
            <div id="content">
                <div class="section-body contain-lg">
                    @RenderBody()
                </div>
            </div>
            @*Fin del contenido*@

         
        </div>
    </div>
    @* Fin de cuerpo *@

</body>

</html>

